* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.pages {
  color: #000000;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}
.scroll{
  border: 1px solid rgb(83, 0, 0);
  margin: 12px;

}
.SquareSplit_game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.square_board {
  height: 35vw;
  width: 35vw;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}
.Create_Square {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.small_square {
  margin: 0px;
  padding: 0px;
}

.right_line {
  border-right: 0.5px solid rgb(0, 0, 0);
}
.bottom_line {
  border-bottom: 0.5px solid black;
}

@media screen and (max-width: 1026px) {
  .SquareSplit_game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
  .square_board {
    height: 60vw;
    width: 60vw;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
  }
}

@media screen and (max-width: 426px) {
  .SquareSplit_game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
  .square_board {
    height: 80vw;
    width: 80vw;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
  }
}

